@tailwind base;
@tailwind components;
@tailwind utilities;


.screen2{
    background-image: url("images/Person.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebarimg{
    background-image: url("images/Person.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.resume::-webkit-scrollbar{
    appearance: none;
}